<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<PublishProvider>FileSystem</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish />
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<ProjectGuid>29bb1cb9-859a-4450-ab08-4817bedbc7fe</ProjectGuid>
		<publishUrl>\\172.16.1.68\c$\inetpub\AccountingApi</publishUrl>
		<DeleteExistingFiles>False</DeleteExistingFiles>
		<EnvironmentName>QA</EnvironmentName>
		<TargetFramework>net6.0</TargetFramework>
		<EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
		<SelfContained>false</SelfContained>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
	</PropertyGroup>
	
	<Target Name="TakeOffline" AfterTargets="BeforePublish" >
		<Message Text="Taking application offline" Importance="high" />
		<Copy SourceFiles="Properties/PublishProfiles/app_offline2.htm" DestinationFiles="$(publishUrl)\app_offline.htm" />
	</Target>

	<!-- BEGIN: Add this -->
	<Target Name="RestoreOnline" AfterTargets="AfterPublish" >
		<Message Text="Restoring application online" Importance="high" />
		<Delete Files="$(publishUrl)\app_offline.htm" />
	</Target>
	<!-- END: Add this -->
</Project>